html {
    font: 400 16px 'PT Sans', sans-serif;
}

.header {
    justify-content: space-between;
    vertical-align: top;
    background-image: linear-gradient(to bottom right, rgb(76, 153, 0), rgb(154, 205, 50));
    border-radius: 4px;
    padding: 10px 100px;
    color: white;
    display: flex;
}

.header a {
    color: white;
}

.header h1 {
    margin: 10px;
}

.header p {
    margin: 10px;
}

#account {
    display: flex;
align-items: center;
justify-content: center;
}

.header label {
    margin-right: 1px;
    text-align:center;
}

.header button {
    background-color: Transparent;
    border: none;
}

.header img {
    max-width: 50px;
    max-height: 50px;
}

#colorForm {
    max-width: 500px;
    padding-left: 25px;
}

#colorForm label {
    display: inline-block;
    transition: all 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform color left;
    background-color: white;
    font-size: 16px;
    color: #80868b;
    padding: 0 8px;
    bottom: 12px;
    left: 8px;
    position: absolute;
    z-index: 1;
}

#colorForm>div {
    position: relative;
}

#colorForm input {
    box-flex: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    height: 48px;
    padding: 13px 15px;
    line-height: 24px;
    margin: 0;
    min-width: 0%;
    outline: none;
    z-index: 0;
    border-radius: 4px;
    border: 1px solid #80868b;
    font-size: 16px;
    box-sizing: border-box;
    margin: 16px 0;
    width: 100%;
    position: relative;
    z-index: 2;
    transition: all 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}

#colorForm input:focus~label,
#colorForm input.hasText~label {
    transform: scale(0.75) translateY(-34px);
    left: -8px;
    z-index: 3;
}

#colorForm input:focus~label {
    color: rgb(76, 153, 0);
}

#colorForm input:focus {
    color: black;
    border-color: rgb(76, 153, 0);
    border-width: 2px;
    padding-left: 14px;
}

#colorForm button {
    width: 100%;
    height: 48px;
    color: white;
    background-color: rgb(76, 153, 0);
    /* Original Blue -> rgb(25, 115, 232); */
    border: 1px solid rgb(76, 153, 0);
    border-radius: 4px;
    transition: all 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    cursor: pointer;
}

#colorForm button:hover {
    background-color: rgb(51, 102, 0);
}
